@charset "UTF-8";

@font-face {
  font-family: "Junicode";
  src: url("../fonts/Junicode.woff") format("woff"),
    url("../fonts/Junicode.ttf") format("truetype");
  font-weight: 400;
  /* font-display: swap; */
  font-style: normal;
}
@font-face {
  font-family: "JunicodeItalic";
  src: url("../fonts/Junicode-Italic.woff") format("woff"),
    url("../fonts/Junicode-Italic.ttf") format("truetype");
  font-weight: 400;
  /* font-display: swap; */
  font-style: italic;
}

:root {
  /* --main-color: #0027c2;  */
  --main-color: #333;

  --slide-media-max-height: 500px;
  --secondary-color: #868686; /* Secondary color for hover effects */
  --background-color: #e8e8e8;
  --highlight-color: #d5d5d5;

  /* url("../fonts/Rowan-VariableItalic.ttf") format("ttf"); */
}

body {
  padding: 0.1rem;
  /* background: var(--background-color); */
  color: var(--main-color);
  /* font-family: "Helvetica Neue", sans-serif; */
  font-family: "Junicode", serif;
  /* font-weight: 400; */
  font-style: normal;
}

header {
  display: flex;
  justify-content: space-between;
  /* align-items: center; */
  /* padding-bottom: 4rem; */
  border-bottom: none; /* ← changed from 1px solid #ddd */
  /* font-size: 1.2rem; */
  /* text-transform: lowercase; */
  font-size: 1rem;
  font-family: "Junicode", serif;
  font-weight: 400;
}

h1,
h2 {
  font-size: 1rem;
  font-weight: 400;
  margin: 0;
  padding: 0;
}
h1 {
  text-transform: uppercase;
}
h2 {
  /* font-size: 1rem; */
  /* font-style: italic; */
  font-weight: 300;
}
.header-right {
  /* align right */
  text-align: right;
}

.header-right a {
  /* font-weight: bold; */
  color: var(--main-color);
  text-decoration: none;
  font-style: normal;
}
.header-right a:hover {
  background-color: var(--highlight-color);
  text-decoration: underline;
  /* transition: background 0.2s ease; */
}

.header-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start; /* keep left aligned */
  z-index: 850;
}
.info {
  display: inline-block;
  cursor: pointer;
}
.info:hover {
  background-color: var(--highlight-color);
  text-decoration: underline;
}

/* h1:hover,
.header-right a:hover {
  background-color: var(--highlight-color);
  transition: background 0.2s ease;
} */

#project-list {
  position: relative; /* place relative to the viewport */
  bottom: 0;
  left: 0;
  width: 20%;
  /* height: 50vh; */
  /* overflow-y: auto; */
  /* padding-left: 1rem; */
  margin-top: 1rem;
}

.project {
  cursor: pointer;
  margin-bottom: 0.5rem;
}

.project-title {
  /* font-size: 1.2rem; */
  font-weight: 300;
  display: block;
  cursor: pointer;
  margin: 0;
  padding: 0;
  /* line-height: 1;  */
}

.project-header {
  display: flex;
  justify-content: space-between; /* pushes title left, year right */
  align-items: baseline; /* keeps them aligned nicely */
}
.project:hover .project-title,
.project:hover .title-year {
  background-color: var(--highlight-color);
  /* underline */
  text-decoration: underline;
  /* transition: background 0.2s ease; */
}

.title-type {
  font-size: 1rem;
  font-style: italic;
  color: var(--secondary-color);
  /* margin-top: 0.2rem; */
}

/* .project-template:hover .project-title,
.project-template .title-type,
.project-template .title-year {
  background-color: var(--highlight-color);

  transition: background 0.2s ease;
} */

/* .project-title:hover {
  background-color: rgb(252, 255, 85);
  font-weight: 600;
} */

#project-expanded {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  /* justify-content: flex-start; */
  /* align-items: center; */
  pointer-events: none; /* prevent blocking project list */
}

#expanded-media {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: auto; /* allow interaction with slides */
  cursor: default;
}

.project-text {
  font-size: 0.8rem;
  font-weight: 300;
  text-align: right;
}
.project-description {
  margin: 1rem;
}

/* .project-media {
  grid-area: media;
  position: relative;
  display: block;
} */

#expanded-media img,
#expanded-media video {
  max-width: 100%;
  max-height: 60vh;
  /* margin: 0 3rem; */
  /* display: block; */
  object-fit: contain;
  object-position: center;
}

/* Custom cursor for previous slide (left side) */
/* Left arrow (outline) */
body.cursor-left {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='32' width='64'><text x='0' y='24' font-size='17'  font-family='Junicode' fill='black'> ( PREV )</text></svg>")
      0 0,
    auto;
}

body.cursor-right {
  cursor: url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' height='32' width='64'><text x='0' y='24' font-size='17' font-family='Junicode' fill='black'> ( NEXT )</text></svg>")
      0 0,
    auto;
}

#project-hover-preview {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* center like expanded media */
  pointer-events: none; /* doesn’t block clicks */
  z-index: 500;
  display: none;
  max-width: 90%; /* match expanded media sizing */
  max-height: 75vh;
}

#project-hover-preview img,
#project-hover-preview video {
  width: 100%;
  height: 75vh;
  object-fit: contain;
  object-position: center;
}

/* Overlay for zoom mode */
#media-zoom-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(232, 232, 232, 0); /* dark overlay */
  display: flex;
  opacity: 0;
  justify-content: center;
  align-items: center;
  pointer-events: none; /* disabled until active */
  z-index: 999;
  transition: background-color 0.3s ease, opacity 0.3s ease;
}

#media-zoom-overlay.active {
  opacity: 1;
  background-color: rgba(255, 255, 255, 1); /* final overlay shade */
  pointer-events: auto;
}

#media-zoom-overlay img,
#media-zoom-overlay video {
  position: absolute;
  /* transition: all 0.5s ease; */
  object-fit: contain;
  object-position: center;
  user-select: none;

  z-index: 1001;
}

.project-media {
  transition: top 0.3s ease, left 0.3s ease, width 0.3s ease, height 0.3s ease;
}

#overlay-close {
  display: none;
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: black;
  cursor: pointer;
  z-index: 1100; /* above media */
  user-select: none;
  transition: color 0.5s ease;
  /* capitalize */
  text-transform: uppercase;
}

#overlay-close:hover {
  background-color: var(--highlight-color);
  text-decoration: underline;
}

#media-zoom-overlay.active #overlay-close {
  display: block; /* show only when overlay is active */
}
#overlay-text {
  position: absolute;
  top: 0.5rem;
  left: 0.5rem;
  width: 20%;
  /* padding: 1rem; */
  color: rgb(0, 0, 0);
  font-family: Junicode, serif;
  z-index: 1100;
  font-size: 1rem;
}

#overlay-text .overlay-header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  /* margin-bottom: 0.5rem; */
}

#overlay-text .overlay-type {
  font-style: italic;
  color: var(--secondary-color);
  margin-bottom: 1rem;
}

#slide-counter {
  position: fixed;
  bottom: 0.5rem; /* slightly above bottom */
  left: 0.5rem;
  /* left: 50%; */
  /* transform: translateX(-50%); */
  font-family: Junicode, serif;
  font-size: 1rem;
  color: var(--main-color);
  /* background-color: rgba(255, 255, 255, 0.7); */
  /* padding: 0.2rem 0.5rem; */
  /* border-radius: 4px; */
  z-index: 1100; /* above media */
  pointer-events: none;
}

#info-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0); /* start transparent */
  display: flex;
  justify-content: center;
  align-items: center;
  pointer-events: none;
  z-index: 700;
  transition: background-color 0.3s ease;
  /* make sure it scrolls */
  overflow-y: auto;
}

#info-overlay.active {
  background-color: rgba(255, 255, 255, 1);
  pointer-events: auto;
}

#info-overlay-close {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  font-size: 1rem;
  font-weight: bold;
  color: var(--main-color);
  cursor: pointer;
  user-select: none;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 800;
  text-transform: uppercase;
}

#info-overlay-close:hover {
  background-color: var(--highlight-color);
  text-decoration: underline;
}

#info-overlay-text {
  position: absolute;
  top: 3rem;
  right: 0.5rem;
  width: 40%;
  /* padding: 2rem; */
  text-align: left;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: 800;
}

#info-overlay-text p {
  margin-top: 0;
}

.contact a {
  color: var(--main-color);
  text-decoration: none;
}
